@using Microsoft.Reporting.WebForms

@{
    ViewBag.Title = "Display Report";
}

<h2>Display Report</h2>

<!-- Place the ReportViewer control in the view -->
<div>
    @if (ViewBag.ReportViewer is ReportViewer reportViewer)
    {
        <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%" Height="600px">
            <LocalReport ReportPath="@reportViewer.LocalReport.ReportPath"></LocalReport>
        </rsweb:ReportViewer>
    }
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
}
