
@{
    ViewBag.Title = "MaintenanceError";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maintenance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
      .container{
          height: 500px;
          margin: auto;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  </style>
</head>
<body>
    <div class="container">
        <div class="col-auto">
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    <h1>On going Maintenance</h1><br />
                    <h2>Updates are underway.</h2>
                </div>
            </div>
            <div class="row">
             <a href="/Account/Login"><u>Go back to Login Page</u></a>
            </div>
        </div>
       
    </div>
   
  
</body>
</html>
