@using PriceSignageSystem.Models.Dto;
@{
    ViewData["Title"] = "Product Page";
}

<div class=" content-wrapper bg-white px-3">
    <br />
<div class="content">
    <div class="  overlay-wrapper " id="loadingContainer" style=" display:none; ">
        <div class=" overlay" style="background-color: rgba(0, 0, 0, 0.59); z-index: 99; ">
            <img class="" src="~/Content/Images/loading.gif" alt="Loading" style="max-width:350px; " />
        </div>
    </div>
</div>
 
    @if (ViewBag.IsDateLatest == true)
    {
        <div class="card card-body bg-primarydark text-white text-bold">
            <center>
                The current data is as of <u>@ViewBag.DateVersion</u>
                <br />
                <a id="updateButton" href="#" class="mt-2 btn btn-secondary text-bold">
                    Update
                </a>
            </center>
        </div>
    }
    else
    {
        <div class="alert text-white text-bold" style="background-color: #8d0303;">
            <center>
                The current data is as of <u>@ViewBag.DateVersion</u>
                <br />
                <a id="updateButton" href="#" class="mt-2 btn btn-secondary text-bold ">
                    Update
                </a>
            </center>
        </div>

    }
    <div class="wrapper">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                <label for="searchInput" class="form-label fw-bold">Enter SKU/UPC:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="searchInput" class="form-control" style="max-width: 200px;" placeholder="Search...">
            </div>
        </div>
    </div>
    <br />
    <div id="searchResults">
        @Html.Partial("_SearchResultPartialView", new STRPRCDto())
    </div>


</div>

<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchQuery = $(this).val();
            $.ajax({
                url: '@Url.Action("Search", "STRPRC")',
                type: 'POST',
                data: { query: searchQuery },
                success: function (result) {
                    $('#searchResults').html(result);
                },
                error: function () {
                }
            });
        });

        $("#updateButton").click(function () {
            $("#loadingContainer").show();

            $.ajax({
                url: "/STRPRC/UpdateSTRPRCData", 
                type: "POST", 
                success: function (response) {
                    
                    window.location.href = "/STRPRC/Index"; 
                },
                error: function (error) {
        
                    $("#loadingContainer").hide();
                }
            });

            return false; // Prevent the default link behavior
        });
    });
</script>
