@using PriceSignageSystem.Models.Dto;
@{
    ViewData["Title"] = "Product Page";
}


@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
@*<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>*@
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="content-wrapper bg-white px-3">
    <br />

    <div class="content">
        <div class="overlay-wrapper" id="loadingContainer" style="display:none;">
            <div class="overlay" style="background-color: rgba(0, 0, 0, 0.59); z-index: 999999;">
                <img class="" src="~/Content/Images/loading.gif" alt="Loading" style="max-width:350px;" />
            </div>
        </div>
    </div>

    @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert text-white text-bold" style="background-color: #8d0303;">
            <center>
                <h3>@ViewBag.ErrorMessage</h3>
            </center>
        </div>
    }

    <div class="wrapper">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                @*<label for="searchInput" class="form-label fw-bold">Enter SKU/UPC:</label>*@
                <select name="SearchFilter" id="searchFilter" class="form-control custom-select">
                    <option value="SKU">SKU</option>
                    <option value="UPC">UPC</option>
                </select>
            </div>
            <div class="col-auto">
                <input type="text" id="searchInput" class="form-control" style="max-width: 200px; background-color: #fff;" placeholder="Search...">
            </div>
        </div>
    </div>
    <br />
    <div id="searchResults">
        @Html.Partial("_SearchResultPartialView", new STRPRCDto())
    </div>
</div>


<script>
    $('#searchInput').focus();

    $(document).ready(function () {
        var timeoutId;
        $('#searchInput').on('input', function () {
            var searchQuery = $(this).val();
            var filter = $('#searchFilter').val();
            // Clear any previously scheduled request
            clearTimeout(timeoutId);

            // Schedule a new request after 300 milliseconds (adjust as needed)
            timeoutId = setTimeout(function() {
                $.ajax({
                    url: '@Url.Action("Search", "STRPRC")',
                    type: 'POST',
                    data: { query: searchQuery, searchFilter: filter},
                    success: function (result) {
                        $('#searchResults').html(result);
                    },
                    error: function () {
                        // Handle error if necessary
                    }
                });
            }, 300); // Adjust the delay as needed
        });
    });
</script>
