@using PriceSignageSystem.Models.Dto;

@{
    ViewData["Title"] = "Product Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col"><label>Enter SKU/UPC:</label> </div>
            <div class="col"><input type="text" id="searchInput" placeholder="Search..."></div>
        </div>
    </div>

    <hr />

    <div id="searchResults">
        @Html.Partial("_SearchResultPartialView", new STRPRCDto())
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchQuery = $(this).val();
            $.ajax({
                url: '@Url.Action("Search", "STRPRC")',
                type: 'POST',
                data: { query: searchQuery },
                success: function (result) {
                    $('#searchResults').html(result);
                },
                error: function () {
                    $('#searchResults').html('<p>Error retrieving search results.</p>');
                }
            });
        });
    });
</script>
