@using PriceSignageSystem.Models.Dto;
@{
    ViewData["Title"] = "Product Page";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/html5-qrcode.min.js"></script>

<div class="content-wrapper bg-white px-3">
    <br />

    <div class="content">
        <div class="overlay-wrapper" id="loadingContainer" style="display:none;">
            <div class="overlay" style="background-color: rgba(0, 0, 0, 0.59); z-index: 999999;">
                <img class="" src="~/Content/Images/loading.gif" alt="Loading" style="max-width:350px;" />
            </div>
        </div>
    </div>

    @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert text-white text-bold" style="background-color: #8d0303;">
            <center>
                <h3>@ViewBag.ErrorMessage</h3>
            </center>
        </div>
    }

    <div class="wrapper">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                @*<label for="searchInput" class="form-label fw-bold">Enter SKU/UPC:</label>*@
                <select name="SearchFilter" id="searchFilter" class="form-control custom-select">
                    <option value="SKU">SKU</option>
                    <option value="UPC">UPC</option>
                </select>
            </div>
            <div class="col-auto">
                <input type="text" id="searchInput" class="form-control" style="max-width: 200px; background-color: #fff;" placeholder="Search...">
            </div>
            <div class="col-auto" id="qrScanBtnContainer">
                <button id="qrScanBtn" class="btn btn-primary" onclick="openBarcodeScan()">Scan QR Code</button>
            </div>
        </div>
    </div>

    <!-- QR SCAN Modal -->
    <div class="modal" id="qrScanModal" tabindex="-1" role="dialog" aria-labelledby="qrScanModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="qrScanModalLongTitle">QR CODE SCAN</h5>
                    <button type="button" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="reader"></div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div id="searchResults">
        @Html.Partial("_SearchResultPartialView", new STRPRCDto())
    </div>
</div>


<script>
    var qrScanBtnContainer = document.getElementById('qrScanBtnContainer');
    var modalContainer = document.getElementById('qrScanModal');
    var searchFilterDropdown = document.getElementById('searchFilter');
    var html5QrcodeScanner;
    var codeFormat = "";
    var isScanUsed = localStorage.getItem("isScanUsed");

    $('#searchInput').focus();
    qrScanBtnContainer.style.display = 'none';

    // The scan button will only appear if UPC is selected
    searchFilterDropdown.addEventListener('change', function () {
        var selectedValue = this.value;

        if (selectedValue === 'UPC') {
            qrScanBtnContainer.style.display = 'block';
        } else {
            qrScanBtnContainer.style.display = 'none';
        }
    });

    $(document).ready(function () {

        if (isScanUsed == "true") {

            searchFilterDropdown.value = 'UPC';
            // Create a new 'change' event
            var event = new Event('change');
            // Dispatch the 'change' event on the dropdown
            searchFilterDropdown.dispatchEvent(event);

            openBarcodeScan();
        }

        var timeoutId;
        $('#searchInput').on('input', function () {
            localStorage.setItem("isScanUsed", false);
            var searchQuery = $(this).val();
            var filter = $('#searchFilter').val();
            // Clear any previously scheduled request
            clearTimeout(timeoutId);

            // Schedule a new request after 300 milliseconds (adjust as needed)
            timeoutId = setTimeout(function() {
                $.ajax({
                    url: '@Url.Action("Search", "STRPRC")',
                    type: 'POST',
                    data: { query: searchQuery, searchFilter: filter, codeFormat: codeFormat},
                    success: function (result) {
                        $('#searchResults').html(result);
                    },
                    error: function () {
                        // Handle error if necessary
                    }
                });
            }, 300); // Adjust the delay as needed
        });
    });

    function onScanSuccess(decodedText, decodedResult) {
        html5QrcodeScanner.clear();
        modalContainer.style.display = 'none';
        localStorage.setItem("isScanUsed", true);

        var filter = $('#searchFilter').val();
        codeFormat = decodedResult.result.format.toString().toUpperCase();

         $.ajax({
             url: '@Url.Action("Search", "STRPRC")',
             type: 'POST',
             data: { query: decodedText, searchFilter: filter, codeFormat: codeFormat},
             success: function (result) {
                 
                 if (result != null) {
                     $('#searchResults').html(result);
                 }
                 else {
                     alert('Item Not Found!');
                 }
             },
             error: function () {
             }
         });
    }

    function onScanFailure(error) {
        console.warn(`Code scan error = ${error}`);
    }

    function openBarcodeScan() {
        modalContainer.style.display = 'block';

        html5QrcodeScanner = new Html5QrcodeScanner(
            "reader",
            {
                fps: 10,
                qrbox: { width: 250, height: 250 },
                rememberLastUsedCamera: true,
                showZoomSliderIfSupported: true,
                defaultZoomValueIfSupported: 2,
                formatsToSupport: [9, 10, 14, 15], // EAN-13, EAN-8, UPC-A, UPC-E respectively
                //videoConstraints: {
                //    facingMode: { exact: "environment" },
                //},
                useBarCodeDetectorIfSupported: true
            },
             false);

        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    };

    function closeModal() {
        modalContainer.style.display = 'none';
    }
</script>
