@using PriceSignageSystem.Models.Dto;

@{
    ViewData["Title"] = "Product Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br />
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col text-center">
                <label for="searchInput">Enter SKU/UPC:</label>
            </div>
            <div class="col">
                <input type="text" id="searchInput" class="form-control" style="max-width: 200px;" placeholder="Search...">
            </div>
        </div>
    </div>

    <hr />

    <div id="searchResults">
        @Html.Partial("_SearchResultPartialView", new STRPRCDto())
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchQuery = $(this).val();
            $.ajax({
                url: '@Url.Action("Search", "STRPRC")',
                type: 'POST',
                data: { query: searchQuery },
                success: function (result) {
                    $('#searchResults').html(result);
                },
                error: function () {
                    $('#searchResults').html('<p>Error retrieving search results.</p>');
                }
            });
        });
    });
</script>
