@using PriceSignageSystem.Models.Dto;
@{
    ViewData["Title"] = "Product Page";
}

    <div class="content-wrapper bg-white px-3">
        <br />
        <div id="loadingContainer" style="display: none;">
            <img src="~/Content/Images/loading.gif" alt="Loading" />
        </div>
        @if (ViewBag.IsDateLatest == true)
        {
            <div class="card card-body bg-primarydark text-white text-bold">
                <center>
                    The current data is up to date. (Current Version: @ViewBag.DateVersion)
                    @*@Html.ActionLink("Update", "UpdateSTRPRCData", "STRPRC", new { storeId = Model.SelectedStore }, new { @class = "btn btn-secondary btn-block" })*@
                    <br />
                    <a id="updateButton" href="#" class="mt-2 btn btn-secondary text-bold">
                        Update
                    </a>
                </center>
            </div>
        }
        else
        {
            <div class="alert bg-dangerdark  text-white text-bold">
                <center>
                    The current data is not yet updated. (Current Version: @ViewBag.DateVersion)
                    @*@Html.ActionLink("Update", "UpdateSTRPRCData", "STRPRC", new { storeId = Model.SelectedStore }, new { @class = "btn btn-secondary btn-block" })*@
                    <br />
                    <a id="updateButton" href="#" class="mt-2 btn btn-secondary text-bold ">
                        Update
                    </a>
                </center>
            </div>

        }
        <div class="wrapper">
            <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <label for="searchInput" class="form-label fw-bold">Enter SKU/UPC:</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="searchInput" class="form-control" style="max-width: 200px;" placeholder="Search...">
                </div>
            </div>
        </div>
        <br />
        <div id="searchResults">
            @Html.Partial("_SearchResultPartialView", new STRPRCDto())
        </div>


    </div>

<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchQuery = $(this).val();
            $.ajax({
                url: '@Url.Action("Search", "STRPRC")',
                type: 'POST',
                data: { query: searchQuery },
                success: function (result) {
                    $('#searchResults').html(result);
                },
                error: function () {
                    $('#searchResults').html('<p>Error retrieving search results.</p>');
                }
            });
        });

        $("#updateButton").click(function () {
            $("#loadingContainer").show();

            $.ajax({
                url: "/STRPRC/UpdateSTRPRCData", 
                type: "POST", 
                success: function (response) {
                    
                    window.location.href = "/STRPRC/Index"; 
                },
                error: function (error) {
        
                    $("#loadingContainer").hide();
                }
            });

            return false; // Prevent the default link behavior
        });
    });
</script>
