@using PriceSignageSystem.Models.Dto;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery and Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>-->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">-->

    <!-- Datatables -->
    <!--<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>-->

    <!-- Bootstrap Datepicker CSS and JS -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">-->
</head>
<body>
    <table id="myTable" class="display compact" style="width:80%">
        <thead class="thead-dark">
            <tr>
                <th>Item No.</th>
                <th>Status Code</th>
                <th>Item Desc.</th>
                <th>UPC Code</th>
                <th>Department</th>
                <th>Sub-Dept.</th>
                <th>Class</th>
                <th>Sub-Class</th>
                <th>Cur Pos Price</th>
                <th>Cur Reg Unit Price</th>
                <th>Original Price</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Attribute 3</th>
                <th>Brand Name</th>
                <th>Manuf. Name</th>
                <th>From U/M</th>
                <th>Divisor</th>
                <th>TO UOM</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</body>
</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false, // disable for multiple sorting
            "scrollY": '400px',
            "scrollCollapse": true,
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
            "ajax": {
                "url": "/STRPRC/LoadData",
                "type": "POST",
                "dataType": "json",
                //"data": function (d) {
                //    debugger
                //    d.search.value = $('#searchBox').val();
                //    return d;
                //}
            },
            "dom": 'lBfrtip' /*'Bfrtip'*/ /*'Bfrltip'*/,
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "columns": [
                { "data": "O3SKU", "name": "O3SKU", "autoWidth": true },
                { "data": "O3SCCD", "name": "O3SCCD", "autoWidth": true },
                { "data": "O3IDSC", "name": "O3IDSC", "autoWidth": true },
                { "data": "O3UPC", "name": "O3UPC", "autoWidth": true },
                { "data": "O3DEPT", "name": "O3DEPT", "autoWidth": true },
                { "data": "O3SDPT", "name": "O3SDPT", "autoWidth": true },
                { "data": "O3CLAS", "name": "O3CLAS", "autoWidth": true },
                { "data": "O3SCLS", "name": "O3SCLS", "autoWidth": true },
                { "data": "O3POS", "name": "O3POS", "autoWidth": true },
                { "data": "O3REGU", "name": "O3REGU", "autoWidth": true },
                { "data": "O3ORIG", "name": "O3ORIG", "autoWidth": true },
                { "data": "O3SDT", "name": "O3SDT", "autoWidth": true },
                { "data": "O3EDT", "name": "O3EDT", "autoWidth": true },
                { "data": "O3TRB3", "name": "O3TRB3", "autoWidth": true },
                { "data": "O3FGR", "name": "O3FGR", "autoWidth": true },
                { "data": "O3FNAM", "name": "O3FNAM", "autoWidth": true },
                { "data": "O3SLUM", "name": "O3SLUM", "autoWidth": true },
                { "data": "O3DIV", "name": "O3DIV", "autoWidth": true },
                { "data": "O3TUOM", "name": "O3TUOM", "autoWidth": true },

            ]
        });

        $('printList').click(function () {

        });
    });
</script>