
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Advance Printing</title>
    <style>
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#startDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $("#endDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });


            $("#searchBtn").click(function () {
                var startDate = $("#startDate").val();
                var endDate = $("#endDate").val();

                $.ajax({
                    url: '@Url.Action("GetDataByDate", "STRPRC")',
                    type: 'POST',
                    data: { startDate: startDate, endDate: endDate },
                    success: function (data) {

                        // Destroy the existing DataTable instance if it exists
                        if ($.fn.DataTable.isDataTable('#dataTable')) {
                            $('#dataTable').DataTable().destroy();
                        }

                       // Initialize the DataTable with the retrieved data and scrollable property
                         $('#dataTable').DataTable({
                             scrollY: 500,
                             scrollX: true,
                             scroller: true,
                             data: data,
                             columns: [
                                 { "data": "O3SKU", "name": "O3SKU", "autoWidth": true },
                                { "data": "O3SCCD", "name": "O3SCCD", "autoWidth": true },
                                { "data": "O3IDSC", "name": "O3IDSC", "className": "text-nowrap"},
                                { "data": "O3UPC", "name": "O3UPC", "autoWidth": true },
                                { "data": "O3DEPT", "name": "O3DEPT", "autoWidth": true },
                                { "data": "O3SDPT", "name": "O3SDPT", "autoWidth": true },
                                { "data": "O3CLAS", "name": "O3CLAS", "autoWidth": true },
                                { "data": "O3SCLS", "name": "O3SCLS", "autoWidth": true },
                                { "data": "O3POS", "name": "O3POS", "autoWidth": true },
                                { "data": "O3REGU", "name": "O3REGU", "autoWidth": true },
                                { "data": "O3ORIG", "name": "O3ORIG", "autoWidth": true },
                                { "data": "O3SDT", "name": "O3SDT", "autoWidth": true },
                                { "data": "O3EDT", "name": "O3EDT", "autoWidth": true },
                                { "data": "O3TRB3", "name": "O3TRB3", "autoWidth": true },
                                { "data": "O3FGR", "name": "O3FGR", "autoWidth": true },
                                { "data": "O3FNAM", "name": "O3FNAM", "autoWidth": true },
                                { "data": "O3SLUM", "name": "O3SLUM", "autoWidth": true },
                                { "data": "O3DIV", "name": "O3DIV", "autoWidth": true },
                                { "data": "O3TUOM", "name": "O3TUOM", "autoWidth": true },
                                {
                                    data: null,
                                    render: function (data, type, row) {
                                        return '<button class="printBtn btn btn-primary btn-sm" data-id="' + data.O3SKU + '">Print</button>';
                                    }
                                }
                            ],
                            "language": {
                                "emptyTable": "No data available"
                            }
                        });
                    }
                });
            });

            //PRINT BUTTON
            $('#dataTable').on('click', '.printBtn', function () {
                var rowId = $(this).data('id');

                $.ajax({
                    url: '@Url.Action("GetDataBySKU", "STRPRC")' ,
                    type: 'POST',
                    data: { id: rowId },
                    success: function (response) {

                        // Create the dropdown options
                        var sizeOptions = '';
                        var typeOptions = '';
                        var categoryOptions = '';

                        // Populate dropdown options from the server response
                        for (var i = 0; i < response.SizeArray.length; i++) {
                            var option = response.SizeArray[i];
                            sizeOptions += '<option value="' + option.Id + '">' + option.Name + '</option>';
                        }
                        for (var i = 0; i < response.TypeArray.length; i++) {
                            var option = response.TypeArray[i];
                            typeOptions += '<option value="' + option.Id + '">' + option.Name + '</option>';
                        }
                        for (var i = 0; i < response.CategoryArray.length; i++) {
                            var option = response.CategoryArray[i];
                            categoryOptions += '<option value="' + option.Id + '">' + option.Name + '</option>';
                        }

                        // Build the HTML for the dropdowns
                        var dropdownHtml = '<div class="form-row">' +
                            '<div class="form-group row col-12">' +
                            '<label class="col-sm-2 col-form-label" for="sizeDropdown">Size:</label>' +
                            '<select class="col-sm-9  ml-3 form-control" id="sizeDropdown" >' +
                            sizeOptions +
                            '</select>' +
                            '</div>' +
                            '<div class="form-group row col-md-12">' +
                            '<label class="col-sm-2 col-form-label" for="typeDropdown">Type:</label>' +
                            '<select class="col-sm-9  ml-3 form-control" id="typeDropdown" disabled>' +
                            '<option value="2">Save</option>' +
                            typeOptions +
                            '</select>' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-row">' +
                            '<div class="form-group row col-md-12">' +
                            '<label class="col-sm-2 col-form-label" for="categoryDropdown">Category:</label>' +
                            '<select class="col-sm-9  ml-3 form-control" id="categoryDropdown">' +
                            categoryOptions +
                            '</select>' +
                            '</div>' +
                            '</div>';

                        // Build the HTML for the print button
                        var printButtonHtml = '<button id="printButton" class="btn btn-primary">Print</button>';

                        // Create the modal content
                        var modalContent = '<div class="modal-dialog modal-sm modal-dialog-centered">' +
                            '<div class="modal-content">' +
                            '<div class="modal-header">' +
                            '<h5 class="modal-title">Print Report</h5>' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            dropdownHtml +
                            '</div>' +
                            '<div class="modal-footer">' +
                            printButtonHtml +
                            '</div>' +
                            '</div>' +
                            '</div>';

                        // Remove any existing modals
                        $('#modalView').remove();

                        // Append the modal to the body
                        $('body').append('<div id="modalView" class="modal">' + modalContent + '</div>');

                        // Show the modal with fade-in effect from top
                        $('#modalView').modal({
                            show: true,
                            backdrop: false,
                            keyboard: false
                        });

                        // Print button click event handler
                        $('#printButton').click(function () {

                            response.SelectedSizeId = $('#sizeDropdown').val();
                            response.SelectedTypeId = $('#typeDropdown').val();
                            response.SelectedCategoryId = $('#categoryDropdown').val();

                            // Generate the URL for the DisplayReport action
                            @*var url = '@Url.Action("DisplayReportFromAdvancePrinting", "Report")';*@
                            var url = '@Url.Action("AutoPrintReportFromAdvancePrinting", "Report")';
                            // Serialize the response object to JSON
                            var serializedResponse = JSON.stringify(response);

                            // Append the serialized response as a query parameter to the URL
                            url += '?response=' + encodeURIComponent(serializedResponse);

                            // Open the URL in a new tab or window
                            window.open(url, '_blank');
                        });
                    }
                });
            });

            // Close the modal when the modal close button is clicked
            $(document).on('click', '.modal .close', function () {
                $('#modalView').modal('hide');
            });

            // Remove the modal from the DOM when it is hidden
            $(document).on('hidden.bs.modal', '.modal', function () {
                $(this).remove();
            });

        });



        document.addEventListener("DOMContentLoaded", function () {
            var today = new Date();
            var tomorrow = new Date(today);
            tomorrow.setDate(tomorrow.getDate() + 1);
            var formattedDate = tomorrow.toISOString().split('T')[0];
            document.getElementById('startDate').value = formattedDate;
            document.getElementById('endDate').value = formattedDate;

        });


    </script>
</head>

<body>
    <div class="content-wrapper bg-white px-3">
        <br />
        <div class="row ">
            <div class="card elevation-3 px-0 ">
                <div class="card-header bg-primary1 text-white">
                    <h3 class="card-title">Advance Printing</h3>
                </div>
                <div class="card-body row mx-auto">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="text" id="startDate" name="startDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <input type="text" id="endDate" name="endDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="text-white">Search</label>
                        <button id="searchBtn" class="btn btn-primary btn-block">Search</button>
                    </div>
                </div>
                <hr />
                <div class="card-body table-responsive">
                    <table id="dataTable" class="table table-striped table-hover " style="width:100%">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Status Code</th>
                                <th class="text-nowrap">Item Desc.</th>
                                <th>UPC</th>
                                <th>Dept</th>
                                <th>Sub-Dept.</th>
                                <th>Class</th>
                                <th>Sub-Class</th>
                                <th>Pos Price</th>
                                <th>Reg Price</th>
                                <th>Orig Price</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Country</th>
                                <th>Brand Name</th>
                                <th>Manuf. Name</th>
                                <th>From U/M</th>
                                <th>Divisor</th>
                                <th>TO UOM</th>
                                <th> - </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="20" style="text-align: center;">Please enter dates</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>

